<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="thread">
            <h4>Judul Dari Thread</h4>

            <div class="meta">
                23 Januari 2022 oleh Gesit
            </div>

            <div class="content">
                Halo teman teman lorem ipsum dolor sit amet, 
                 lorem ipsum dolor sit amet,  lorem ipsum dolor sit amet, 
            </div>

            <div class='count'>
                10 Obrolan
            </div>

            <div style='clear: both'>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 offset-md-3">
        <div class="thread">
            <h4>Judul Dari Thread</h4>

            <div class="meta">
                23 Januari 2022 oleh Gesit
            </div>

            <div class="content">
                Halo teman teman lorem ipsum dolor sit amet, 
                 lorem ipsum dolor sit amet,  lorem ipsum dolor sit amet, 
            </div>

            <div class='count'>
                10 Obrolan
            </div>

            <div style='clear: both'>
        </div>
    </div>
    
</div>